:root {
  --primary-color: rgb(63, 9, 18);
  --site-white: rgb(240, 240, 240);
  --site-black: rgb(14, 14, 14);
}

body {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.flex-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--site-white);
  color: var(--site-black);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
